<section class="footer-section">
  <div class="container">
    <div class="footer-block">
      <div class="footer-block__navigate-col is-active">
        <div class="footer-block__icon-shape">
          <i class="fas fa-home"></i>
        </div> <!-- .footer-block__icon-shape -->
      </div>
      <div class="footer-block__navigate-col">
        <div class="footer-block__icon-shape">
          <i class="fas fa-heart"></i>
        </div> <!-- .footer-block__icon-shape -->
      </div>
    </div> <!-- .footer-block -->
  </div>
</section> <!-- .footer-section -->
