<header class="header-section">
  <div class="container">
    <div class="header-block">
      <div class="header-block__info-col">
        <a href="{{ BASE_URL }}" class="header-block__logo-shape">
          <img src="{{ LAYOUT_CONFIG.imageUrl }}/logo/go2joy-logo.png?v={{ CACHE_VERSION }}" width="100%" alt="go2joy" class="header-block__logo-img">
        </a>
      </div> <!-- .header-block__info-col -->

      <div class="header-block__feature-col">
        <div class="header-block__dropdown-box g2j-dropdown-box g2j-dropdown-box--js is-center is-show">
          <div class="g2j-dropdown-box__head">
            <div class="header-block__translate-field">
              <div class="header-block__translate-field__country-icon-shape">
                <i class="header-block__translate-field__country-icon header-block__translate-field__country-icon--vn"></i>
              </div> <!-- .header-block__translate-field__country-icon-shape -->

              <div
                id="header-block__translate-field__label"
                class="header-block__translate-field__label"
              >
                Tiếng Việt
              </div> <!-- .header-block__translate-field__label -->

              <div class="header-block__translate-field__arrow-icon-shape">
                <i class="fas fa-sort-down"></i>
              </div> <!-- .header-block__translate-field__arrow-icon-shape -->
            </div> <!-- .header-block__translate-feature -->
          </div> <!-- .g2j-dropdown-box__head -->

          <div class="g2j-dropdown-box__body g2j-dropdown-box-body">
            <div class="g2j-dropdown-box__body-inner">
              <div class="header-block__dropdown-box__select-list">
                <div class="header-block__dropdown-box__select-item">
                  <div class="header-block__dropdown-box__country-icon-shape">
                    <i class="header-block__dropdown-box__country-icon header-block__dropdown-box__country-icon--vn"></i>
                  </div> <!-- .header-block__dropdown-box__country-icon-shape -->

                  <div
                    id="header-block__dropdown-box__label"
                    class="header-block__dropdown-box__label"
                  >
                    Tiếng Việt
                  </div> <!-- .header-block__dropdown-box__label -->
                </div> <!-- .header-block__dropdown-box__select-item -->

                <div class="header-block__dropdown-box__select-item">
                  <div class="header-block__dropdown-box__country-icon-shape">
                    <i class="header-block__dropdown-box__country-icon header-block__dropdown-box__country-icon--uk"></i>
                  </div> <!-- .header-block__dropdown-box__country-icon-shape -->

                  <div
                    id="header-block__dropdown-box__label"
                    class="header-block__dropdown-box__label"
                  >
                    Tiếng Anh
                  </div> <!-- .header-block__dropdown-box__label -->
                </div> <!-- .header-block__dropdown-box__select-item -->
              </div>
            </div>
          </div>
        </div> <!-- .g2j-dropdown-box -->

        <div class="header-block__search-icon-col">
          <span id="header-block__search-icon-shape" class="header-block__search-icon-shape">
            <i class="fal fa-search"></i>
          </span>
        </div> <!-- .header-block__search-icon-shape -->
      </div> <!-- .header-block__feature-col -->
    </div> <!-- .header-block -->
  </div>
</header> <!-- .header-section -->
