<template>
  <div
    class="basic-modal"
    :class="customModalClass"
  >
    <div
      class="basic-modal__bg modal-bg"
      @click.stop="$emit('close')"
    ></div>

    <div class="basic-modal__section modal-section">
      <div class="basic-modal__section__head section-head">
        <div class="basic-modal__section__head__title head-title">
          <slot name="head-title">
            Modal
          </slot>
        </div>

        <div
          class="basic-modal__section__head__close-btn close-btn"
          @click.stop="$emit('close')"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </div>
      </div> <!-- .basic-modal__section__head -->

      <div class="basic-modal__section__body section-body">
        <slot name="body-content"></slot>

        <slot name="body-control"></slot>
      </div> <!-- .basic-modal__section__body -->
    </div> <!-- .basic-modal__section -->
  </div> <!-- .basic-modal -->
</template>

<script>
import { IMAGE_URL } from "~jsDefinePath/general";

export default {
  props: {
    customModalClass: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      imageUrl: IMAGE_URL,
    }
  },

  created() {
  },

  methods: {
  },
}
</script>
