{% set objResource = objGlobal['resource'] %}

{% if objResource[namepage]['arrCssFile']['common'] | isEmpty %}
  {% set cssGlobal = objResource['common']['arrCssFile'] %}
  {% set cssOnPage = objResource[namepage]['arrCssFile'] %}
{% else %}
  {% set cssGlobal = objResource[namepage]['arrCssFile']['common'] %}
  {% set cssOnPage = objResource[namepage]['arrCssFile']['main'] %}
{% endif %}

{% if objResource[namepage]['arrJsFile']['common'] | isEmpty %}
  {% set jsGlobal = objResource['common']['arrJsFile'] %}
  {% set jsOnPage = objResource[namepage]['arrJsFile'] %}
{% else %}
  {% set jsGlobal = objResource[namepage]['arrJsFile']['common'] %}
  {% set jsOnPage = objResource[namepage]['arrJsFile']['main'] %}
{% endif %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="data:image/png;base64,'+favIcon">
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-store" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ data.title }}</title>

    <!-- prefetch -->
    {% for prefetchItem in objResource[namepage]['arrPrefetch'] %}
      <link
        rel="prefetch"
        href="{{ prefetchItem['getHref']() + '?v=' + CACHE_VERSION }}"
        as="{{ prefetchItem['as'] }}"
        {% if not prefetchItem['type'] | isEmpty %}
          type="{{ prefetchItem['type'] }}"
        {% endif %}
      />
    {% endfor %}

    <!-- preload -->
    {% for preloadItem in objResource[namepage]['arrPreload'] %}
      <link
        rel="preload"
        href="{{ preloadItem['getHref']() + '?v=' + CACHE_VERSION }}"
        as="{{ preloadItem['as'] }}"
        {% if not preloadItem['type'] | isEmpty %}
          type="{{ preloadItem['type'] }}"
        {% endif %}
      />
    {% endfor %}

    <!-- global css file -->
    {% for cssFile in cssGlobal %}
      {% if cssFile['href'] | isString %}
        {% if cssFile['env'] | isEmpty or ENV_APPLICATION in cssFile['env'] %}
          {% if not cssFile['preconnect'] | isEmpty %}
            <link rel="preconnect" href="{{ cssFile['preconnect'] }}">
          {% endif %}

          {% if not cssFile['dns-prefetch'] | isEmpty %}
            <link
              rel="dns-prefetch"
              href="{{ cssFile['dns-prefetch'] }}"
              {% if not cssFile['crossorigin'] | isEmpty and cssFile['crossorigin']['show'] %}
                {% if not cssFile['crossorigin']['value'] | isEmpty %}
                  origin="{{ cssFile['crossorigin']['value'] }}"
                {% else %}
                  origin
                {% endif %}
              {% endif %}
            >
          {% endif %}

          <link rel="stylesheet" href="{{ cssFile['href'] + '?v=' + CACHE_VERSION }}">
        {% endif %}
      {% else %}
        <link rel="stylesheet" href="{{ LAYOUT_CONFIG.cssUrl + '/' + cssFile + '.css' + '?v=' + CACHE_VERSION }}">
      {% endif %}
    {% endfor %}

    <!-- global css file -->
    {% for cssFile in cssOnPage %}
      <link rel="stylesheet" href="{{ LAYOUT_CONFIG.cssUrl + '/' + cssFile + '.css' + '?v=' + CACHE_VERSION }}">
    {% endfor %}

    <!-- global js file -->
    {% for jsFile in jsGlobal %}
      {% if jsFile['src'] | isString %}
        {% if jsFile['env'] | isEmpty or ENV_APPLICATION in jsFile['env'] %}
          {% if not jsFile['preconnect'] | isEmpty %}
            <link rel="preconnect" href="{{ jsFile['preconnect'] }}">
          {% endif %}

          {% if not jsFile['dns-prefetch'] | isEmpty %}
            <link
              rel="dns-prefetch"
              href="{{ jsFile['dns-prefetch'] }}"
              {% if not jsFile['crossorigin'] | isEmpty and jsFile['crossorigin']['show'] %}
                {% if not jsFile['crossorigin']['value'] | isEmpty %}
                  origin="{{ jsFile['crossorigin']['value'] }}"
                {% else %}
                  origin
                {% endif %}
              {% endif %}
            >
          {% endif %}
          <script
            type="text/javascript"
            src="{{ jsFile['src'] + '?v=' + CACHE_VERSION }}"
            {% if jsFile['integrity'] | isString %}
              integrity="{{ jsFile['integrity'] }}"
              crossorigin="anonymous"
            {% endif %}
          >
          </script>
        {% endif %}
      {% else %}
        <script type="text/javascript" src="{{ LAYOUT_CONFIG.jsUrl + '/' + jsFile + '.js' + '?v=' + CACHE_VERSION }}"></script>
      {% endif %}
    {% endfor %}

    <!-- preconnect | dns-prefetch -->
    {% for preconnectItemInfo in objResource[namepage]['arrPreconnect'] %}
      <link rel="preconnect" href="{{ preconnectItemInfo() }}">
      <link rel="dns-prefetch" href="{{ preconnectItemInfo() }}">
    {% endfor %}
  </head>
  <body>
    <!-- header region -->
    {% block header %}
      {% include "./partial/global/header-section.njk" %}
    {% endblock %}
    <!-- #end header region -->

    <!-- body region -->
    {% block body %}{% endblock %}
    <!-- #end body region -->

    <!-- footer region -->
    {% block footer %}
      {% include "./partial/global/footer-section.njk" %}
    {% endblock %}
    <!-- #end footer region -->

    <!-- other js file -->
    <script type="text/javascript">
      window.PAGE_INFO = {
        js_url: "{{ LAYOUT_CONFIG.jsUrl }}",
        image_url: "{{ LAYOUT_CONFIG.imageUrl }}",
        language_url: "{{ LAYOUT_CONFIG.languageUrl }}",
        cache_version: "{{ CACHE_VERSION }}",
        get_api_url: function(version) {
          const baseApiUrl = "{{ BASE_API_URL }}";
          const apiVersion = {{ API_VERSION | json }};

          return (
            apiVersion[version] ?
            baseApiUrl + '/' + apiVersion[version] :
            baseApiUrl
          );
        },
        env: "{{ ENV_APPLICATION }}",
      };
    </script>
    {% block script %}{% endblock %}

    <!-- page js file -->
    {% for jsFile in jsOnPage %}
      <script type="text/javascript" src="{{ LAYOUT_CONFIG.jsUrl + '/' + jsFile + '.js' + '?v=' + CACHE_VERSION }}"></script>
    {% endfor %}
  </body>
</html>
