.banner-section {}

.banner-block {
  .banner-wrapper-outer {
    overflow: hidden;
  }

  .banner-wrapper {
    white-space: nowrap;
  }

  .banner-wrapper-item {
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }

  .banner-img-outer {
    position: relative;
    width: 100%;

    &:before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: percentage(502/728);
    }
  }

  .banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
  }
}
