<template>
  <div class="not-found-page">
    <img
      class="not-found-bg"
      :src="IMAGE_URL + '/404-not-found.webp'"
      alt="404 not found"
    >
  </div>
</template>

<script>
import {
  IMAGE_URL
} from '~jsDefinePath/general'

export default {
  name: '404-not-found-page',

  data() {
    return {
      IMAGE_URL,
    }
  },

  created() {
    console.log('');
  },
}
</script>

<style src="./not-found-page-style.css"></style>
