<template>
  <div class="app main-container">
    <section class="navigation-section">
      <div class="container">
      </div>
    </section> <!-- .navigation-section -->

    <!-- <router-view :key="routerViewCacheVersion"></router-view> -->
    <keep-alive
      :include="['the-home-page','the-list-task-page']"
    >
      <router-view></router-view>
    </keep-alive>

    <!-- NOTE - Nếu đặt thêm 1 component có update ở dưới router-view -> router view sẽ tự update khi component default/other change -->
    <transition name="fade">
      <TheGo2JoyLoading
        v-show="isShowLoading"
        :key="routerViewCacheVersion"
      ></TheGo2JoyLoading>
    </transition>
  </div> <!-- .vue-app -->
</template>

<script>
import NavigationItem from '~jsPartialPath/global/component/navigation-item/NavigationItem.vue';
import TheGo2JoyLoading from '~jsPartialPath/global/component/go2joy-loading/TheGo2JoyLoading.vue';

export default {
  name: 'App',

  components: {
    NavigationItem,
    TheGo2JoyLoading,
  },

  data() {
    return {
      routerViewCacheVersion: Date.now(),
      isShowLoading: true,
      test: {
        test: 1,
      },
    };
  },

  created() {
    const self = this;

    EventBus.on('UPDATE_ROUTER_VIEW', function(cache) {
      self.routerViewCacheVersion = cache;
    });

    EventBus.on('IS_SHOW_ROUTER_LOADING', function(isShow) {
      console.log(isShow);
      self.isShowLoading = isShow;
    });
  },

  methods: {},
}
</script>
