@charset "UTF-8";
/*
DOC:
- Tạo bộ khung cơ bản cho 1 icon
*/
/*
	Exam use:

	@include placeholder {
    font-style:italic;
    color: white;
    font-weight:100;
	}
*/
.basic-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  cursor: default;
}
.basic-modal__bg {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .basic-modal__bg {
    cursor: default;
  }
}
.basic-modal__section {
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
  /* Ch <36, Saf 5.1+, iOS < 9.2, An =<4.4.4 */
  -ms-transform: translate(-50%);
  /* IE 9 */
  transform: translate(-50%);
  /* IE 10, Fx 16+, Op 12.1+ */
  top: 40%;
  z-index: 10;
  min-height: 200px;
  width: calc(100% - 32px);
  background: #ffffff;
  border-radius: 20px;
}
@media screen and (min-width: 425px) {
  .basic-modal__section {
    width: 375px;
  }
}
.basic-modal__section__head {
  display: flex;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid #EAEDF1;
  color: #303846;
}
.basic-modal__section__head__title {
  font-size: 3rem;
  margin-right: 16px;
}
.basic-modal__section__head__close-btn {
  display: flex;
  flex: 0 0 48px;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  cursor: pointer;
  margin-right: -16px;
}

.task-modal .section-body {
  padding: 16px;
}
.task-modal__body__title {
  margin-bottom: 8px;
}
.task-modal__body__content {
  font-style: italic;
}

.list-task-block .task-item {
  position: relative;
  margin-bottom: 24px;
}
.list-task-block .task-item--learning .head-title:before {
  background: #FFA500;
}
.list-task-block .task-item--working .head-title:before {
  background: #29C979;
}
.list-task-block .task-item--sporting .head-title:before {
  background: #2A96D2;
}
.list-task-block .task-item:last-child {
  margin-bottom: 0;
}
.list-task-block .item-head {
  margin-bottom: 10px;
}
.list-task-block .head-title {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  z-index: 0;
  position: relative;
  padding-bottom: 2px;
  padding-left: 8px;
}
.list-task-block .head-title:before {
  position: absolute;
  content: "";
  height: 8px;
  width: calc(100% + 12px);
  left: 0;
  bottom: 6px;
  z-index: -1;
  opacity: 0.3;
}
.list-task-block .task-tag-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  margin: 0 -16px;
  padding: 0 16px;
  -ms-overflow-style: none;
}
.list-task-block .task-tag-wrap::-webkit-scrollbar {
  display: none;
}
.list-task-block .task-tag-slider {
  white-space: nowrap;
  margin: 0 -8px;
}
@media screen and (min-width: 768px) {
  .list-task-block .task-tag-slider {
    white-space: normal;
    margin-top: -8px;
  }
}
.list-task-block .task-tag-outer {
  display: inline-block;
  padding: 0 8px;
  vertical-align: bottom;
}
@media screen and (min-width: 768px) {
  .list-task-block .task-tag-outer {
    margin-top: 8px;
  }
}
.list-task-block .task-tag {
  white-space: nowrap;
  max-width: 200px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 8px 12px;
  background: #EAEDF1;
  color: #303846;
  border-radius: 20px;
  cursor: pointer;
}