.banner-block .banner-wrapper-outer {
  overflow: hidden;
}
.banner-block .banner-wrapper {
  white-space: nowrap;
}
.banner-block .banner-wrapper-item {
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
.banner-block .banner-img-outer {
  position: relative;
  width: 100%;
}
.banner-block .banner-img-outer:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 68.956043956%;
}
.banner-block .banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}