<template>
  <div
    class="home-page"
  >
    <TheBannerSection/>
  </div>
</template>

<script>
import { mapState } from '~jsLibPath/lib-manager';
import {
  MODULE_NAME as PAGE_INFO_MODULE_NAME,
} from '~jsBasePath/vuex/modules/page-info';
import TheBannerSection from './component/TheBannerSection.vue';

export default {
  name: 'the-home-page',

  components: {
    TheBannerSection,
  },

  data() {
    return {
      enableToShowGmap: false,
    };
  },

  created() {
    const self = this;

    EventBus.emit('IS_SHOW_ROUTER_LOADING', false);
  },

  computed: Object.assign(
    {},

    mapState(PAGE_INFO_MODULE_NAME,
      {
        imageUrl: 'imageUrl'
      }
    )
  ),

  destroyed() {
    console.log('the home page is destroyed');
  },
};
</script>

<style src="./home-page-style.css"></style>
