<template>
  <div class="go2joy-loading__section">
    <div class="go2joy-loading-section__icon">
      <img
        class="go2joy-loading-section__icon__img"
        width="100px"
        height="100px"
        :src="IMAGE_URL + '/go2joy-loading.gif?v=' + CACHE_VERSION"
        alt="go2joy loading"
      >
    </div> <!-- .go2joy-loading-section__icon -->
  </div> <!-- .go2jpy-loading-section -->
</template>

<script>
import {
  IMAGE_URL,
  CACHE_VERSION
} from '~jsDefinePath/general';

export default {
  name: 'go2joy-loading',

  data() {
    return {
      IMAGE_URL,
      CACHE_VERSION
    }
  },
}
</script>
