@use '../../../var/grid' as grid;
@use '../../../mixin/general' as general;
@use '../../../function/space' as space;

.basic-modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  cursor: default;

  &__bg {
    position: absolute;
    background: rgba(#000000, 0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @media screen and (min-width: grid.$mz-grid-lg-min) {
      cursor: default;
    }
  }

  &__section {
    position: relative;
    @include general.block-center-transform();
    top: 40%;
    z-index: 10;

    min-height: 200px;
    width: calc(100% - 32px);

    @media screen and (min-width: grid.$mz-grid-xxs-min) {
      width: 375px;
    }

    background: #ffffff;
    border-radius: 20px;

    &__head {
      display: flex;
      padding: 0 space.get-space-from-base(8);
      align-items: center;
      border-bottom: 1px solid #EAEDF1;
      color: #303846;

      &__title {
        font-size: 3rem;
        margin-right: space.get-space-from-base(8);
      }

      &__close-btn {
        display: flex;
        flex: 0 0 48px;
        width: 48px;
        height: 48px;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        cursor: pointer;
        margin-right: -#{ space.get-space-from-base(8) };
      }
    } // .basic-modal__section__head
  } // .basic-modal__section
} // .basic-modal
