.go2joy-loading {
  &__section {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background: rgba(#ffffff, 0.5);
  }
}
