{% extends objGlobal.path.njk + '/_layout.njk' %}

{% set resManagementData = data.response %}

<!-- ===============Body=============== -->

{# {% block header %}{% endblock %} #}

{% block body %}
  <div id="app" class="main-container"></div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    {% if resManagementData %}
      window.PAGE_INFO.resManagementData = {{ resManagementData | json }};
    {% endif %}
  </script>
{% endblock %}
