@use '../../function/space' as space;

//================================================
// .footer-section
//================================================

.footer-section {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #e6e6e6;
  background: #ffffff;
}

.footer-block {
  display: flex;
  min-height: 51px;

  &__navigate-col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    padding: space.get-space-from-base(6) space.get-space-from-base(8);
    cursor: pointer;
    min-height: 100%;

    &.is-active {
      .footer-block__icon-shape {
        i {
          color: #f05280;
        }
      }
    }
  } // &__navigate-col

  &__icon-shape {
    i {
      color: #bbbbbb;
      font-size: 3rem;
    }
  } // &__icon-shape
} // .footer-block
