@use '../../function/space' as space;
@import 'vars';

//================================
// .header-section
//================================
.header-section {
  position: fixed;
  background: #ffffff;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  z-index: 10;
}

//================================
// .header-block
//================================
.header-block {
  display: flex;
  align-items: center;
  min-height: 45px;
  padding: space.get-space-from-base(6) 0;

  &__info-col {
    display: inline-flex;
    align-items: center;
    margin-right: space.get-space-from-base(4);
  } // .header-block__info-col

  &__logo-shape {
    display: block;
    width: 100px;

    @media (min-width: $g2j-grid-sm-min) {
      width: 110px;
    }
  }

  &__logo-img {
    vertical-align: bottom;
  }

  &__feature-col {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
  } // .header-block__feature-col

  $_country-icon-flag-list: (
    'vn': $g2j-image-url + '/svg/vn-circle--flag.svg',
    'uk': $g2j-image-url + '/svg/uk-circle--flag.svg'
  );

  &__translate-field {
    display: inline-flex;
    align-items: center;
    vertical-align: bottom;

    &:last-child {
      margin-right: 0;
    }

    &__country-icon-shape {
      flex: 0 0 20px;
      height: 20px;
      margin-right: space.get-space-from-base(3);
    }

    &__country-icon {
      display: block;
      width: 20px;
      height: 20px;

      @each $key, $val in $_country-icon-flag-list {
        &--#{ $key } {
          background: url($val) center/contain no-repeat;
        }
      }
    }

    &__label {
      font-size: 1.5rem;
      margin-right: space.get-space-from-base(3);
      white-space: nowrap;
    }

    &__arrow-icon-shape {
      i {
        position: relative;
        top: -3px;
      }
    }
  } // .header-block__translate-field

  &__search-icon-col {
    vertical-align: bottom;
    margin-left: space.get-space-from-base(4);
  }

  &__search-icon-shape {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    cursor: pointer;

    i {
      position: relative;
      font-size: 2.5rem;
    }
  } // &__search-icon-shape

  &__dropdown-box {
    &__select-item {
      display: flex;
      align-items: center;
      padding: space.get-space-from-base(6) space.get-space-from-base(8);
    }

    &__country-icon-shape {
      flex: 0 0 20px;
      height: 20px;
      margin-right: space.get-space-from-base(4);
    }

    &__country-icon {
      display: block;
      width: 20px;
      height: 20px;

      @each $key, $val in $_country-icon-flag-list {
        &--#{ $key } {
          background: url($val) center/contain no-repeat;
        }
      }
    }

    &__label {
      font-size: 1.5rem;
      margin-right: space.get-space-from-base(3);
      white-space: nowrap;
    }
  } // &__dropdown-box
} // .header-block
