<template>
  <section class="banner-section">
    <div class="container">
      <div class="banner-block">
        <div class="banner-wrapper-outer swiper-container">
          <div class="banner-wrapper swiper-wrapper">
            <template v-for="bannerItem, idx in bannerList">
              <div
                :key="idx"
                class="banner-wrapper-item swiper-slide"
              >
                <div class="banner-img-outer">
                  <img
                    width="100%"
                    height="100%"
                    class="banner-img"
                    :src="bannerItem"
                    alt=""
                  >
                </div>
              </div> <!-- .banner-wrapper-item -->
            </template>
          </div> <!-- .banner-wrapper -->
        </div>
      </div> <!-- .banner-block -->
    </div> <!-- .container -->
  </section> <!-- .banner-section -->
</template>

<script>
export default {
  data() {
    return {
      bannerList: [
        'https://go2joy.s3-ap-southeast-1.amazonaws.com/banner/3850_1620362672_6094c5b0d45ec.png',
        'https://go2joy.s3-ap-southeast-1.amazonaws.com/banner/118_1620357340_6094b0dc729b9.png',
        'https://go2joy.s3-ap-southeast-1.amazonaws.com/banner/3850_1620384055_609519373e74d.jpg'
      ],
    }
  },

  created() {},

  mounted() {
    const Swipes = new Swiper('.swiper-container', {
      loop: true,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
  });
  },

  methods: {},
}
</script>

<style>
</style>
